[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "comets"]
	path = comets
	url = https://github.com/lucaskook/comets
[submodule "tramicp"]
	path = tramicp
	url = https://github.com/lucaskook/tramicp
